@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outward-Block";
    src: url("/fonts/outward-block.ttf");
}

@font-face {
    font-family: "Humane-SemiBold";
    src: url("/fonts/Humane-SemiBold.ttf");
}

@font-face {
    font-family: "Subjectivity-medSlant";
    src: url("/fonts/Subjectivity-MediumSlanted.otf");
}
@font-face {
    font-family: "BaseBornSans";
    src: url("/fonts/BasebornSans.woff2");
}
@font-face {
    font-family: "TWK";
    src: url("/fonts/TWKLausanne.woff2");
}

body {
    background-color: #1c1b1e;
}